ascii-magic==1.6
beautifulsoup4==4.9.3
boto3
bs4==0.0.1
pycairo
colorama==0.4.4
coloredlogs==15.0
coverage==6.1.2
cryptography==35.0.0
facebook-sdk==3.1.0
Faker
fake-useragent==0.1.11
lxml==4.6.3
markovify==0.9.0
mistune==2.0.0rc1
numpy
opencv-python-headless
phonenumbers==8.12.37
Pillow==8.4.0
py3-validate-email==1.0.3
py5
pyaxmlparser==0.3.26
python-frontmatter==1.0.0
python-gnupg==0.4.7
pywhatkit==5.2
pywhatsapp==0.0.7
PyYAML==6.0
qrcode==7.3.1
random-word
regex==2021.4.4
requests==2.26.0
samila==0.3
scipy
shadow-useragent==0.0.17
spacy
stdiomask==0.0.6
syllapy
tqdm==4.61.2
tweepy==4.4.0
twilio==6.58.0
urllib3==1.26.5
utils
validators==0.18.2
wikipedia==1.4.0
yowsup2==2.5.0
